* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

main {
    background-color: beige;
    box-sizing: border-box;
    width: calc(100vw-19px);
    min-width: 1400px;
    margin: auto;
}




.main_banner { /*main_banner_container부모*/
    height: 100vh;
    width: calc(100vw-19px);
    background-color: antiquewhite;
    overflow-x: scroll;
    scrollbar-width: none;
    font-size: 0;
}

#main_banner_container { /*메인배너 이미지 집합 컨테이너*/
    flex-flow: row wrap;
    flex-direction: row;
    height: 100vh;
    width: 300vw;
}



.main_banner_default { /*메인배너 이미지 클래스*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
    height: 100%;
    width: calc(100vw - 19px);
}

.img1 {
    background-image: url(https://www.sac.or.kr/upfile/uploadfile/asa/banner/banner/kr/2024/04/48fa4470e35950b9e849e3f43a85b8d3.jpg);
}

.img2 {
    background-image: url(https://image.yes24.com/themusical/fileStorage/ThemusicalAdmin/Media/Image/20190502061224be477586b9a54afebf7abde93ef1026a.jpg);
} 

.img3 {
    background-image: url(https://lh5.googleusercontent.com/proxy/GdVUy0eZKngThZ7yQaRPblPJsIaPczsYxSLet_b-3K2HaBV7F5GXcQH4ccV4vXDJl3ha9nrxrQ1iwuL42Tn2YRf1Z2OWreq6KfHXZDaXYEyAxt19EM7P3foxaZ80-LucN5UA1eDiwE8y-MFJ6GQcnjIRbPWEXn3haLlGVJXmZBmo3LJH);
}



/* 메인배너 네비게이터 */

.main_navigator {
    margin-top: -100px;
    margin-left: 30px;
    font-size: 0;
}

.main_navigator li {
    display: inline-block;
    margin-left: 20px;
}

.main_navigator a {
    display: inline-block;
    background-color: darkgray;
    height: 50px;
    width: 30px;
}



/* 이 달의 공연 */

#month_banner {
    height: 100vh;
    /* background-color:tan; */
    background-color: dimgray;
    position: relative;
    padding: 0 15vw 0 15vw;
}

#month_banner_main {
    float: left;
    /* position: absolute; */
    height: 70%;
    width: 40%;
    background-color:azure;
}

.month_main_img {
    background-image: url(https://img.freepik.com/free-photo/portrait-of-person-with-wavy-texture_23-2150169248.jpg);
    background-position: center;
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 50%;
}

#month_banner_sub {
    display: inline-block;
    box-sizing: border-box;
    height: calc(100%);
    width: 60%;
    padding-left: 10%;
    background-color: rgb(68, 67, 67);
    overflow-y: auto;
    scrollbar-width: none;
}

.month_sub {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 85%;
    box-sizing: border-box;
    background-color: aliceblue;
    position: relative;
    padding: 10px;
    transition: all 0.3s ease;
}
.month_sub:hover {
    transform: scale(1.05);
}

#leftlist {
    float: left;
    width: 50%;
    text-align: center;
}
#rightlist {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}


.left {
    display: inline-block;
    margin-bottom: 150px;
}

.right {
    display: inline-block;
    margin-top: 150px;
}

.sub_img1 {
    background-image: url(https://img.freepik.com/free-photo/portrait-of-person-with-wavy-texture_23-2150169248.jpg);
    background-position: center;
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 50%;
} 


/* 공지 */

#notice_block {
    background-color: darkcyan;
    height: 300px;
    display: flex;
    flex-direction: row;
}

#notice_block>span {
    display: inline-block;
    width: 20%;
}

#notice_container {
    flex-flow: row nowrap;
    overflow-x: scroll;
    height: 80%;
    width: 80%;
    background-color:lightgray;
}