/* 기본설정 */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


main {
    font-size: 0; /*이격방지*/
    font-family: 'Pretendard-Regular';
    min-width: 1000px;
    margin: auto;
}

/* ====================================================== */

/* 메인배너 */

.main_slider {
    z-index: 1;
}

.main_banner_view { /*main_banner_container부모*/
    height: 100vh;
    font-size: 0;
    overflow-x: hidden;
}

#main_banner_container { /*메인배너 이미지 집합 컨테이너*/
    flex-direction: row;
    height: 100%;
    width: 100vw;
    white-space: nowrap;
}

.main_banner { /*메인배너 이미지 클래스*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    display: inline-block;
    height: 100%;
    width: 100vW;
}

.main_ban_introduce {

    position: absolute;
    bottom: 0;

    font-size: 1.2rem;
    width: 100%;

    box-sizing: border-box;
    padding: 0 8rem 7rem 0;

    text-align: right;
    color: white;

    z-index: 2;
}

.main_ban_introduce>p {
    margin-top: .5rem;
}

.main_ban_introduce::before {
    content:"";

    position: absolute;
    bottom: 0;
    left: 0;

    height: 200%;
    width: 100%;

    background-image: url(https://ifh.cc/g/ADJwFk.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, .7));
    background-size: cover;

    z-index: -1;
}

/* ======================================= */
/* 메인배너 이미지 모음 */

.img1 {
    background-image: url(https://ifh.cc/g/5CGB2h.jpg);
}

.img2 {
    background-image: url(https://ifh.cc/g/FSVpgt.jpg);
} 

.img3 {
    background-image: url(https://ifh.cc/g/vvS543.jpg);
}

.img4 {
    background-image: url(https://ifh.cc/g/AZVc3Q.jpg);
}

/* ====================================================== */
/* 메인배너 슬라이드 */

#banner1:checked ~ #main_banner_container{
    transform: translateX(0);
    transition: 1s;
}

#banner2:checked ~ #main_banner_container{
    transform: translateX(-100vw);
    transition: 1s;
}

#banner3:checked ~ #main_banner_container{
    transform: translateX(-200vw);
    transition: 1s;
}
#banner4:checked ~ #main_banner_container{
    transform: translateX(-300vw);
    transition: 1s;
}

#main_nav_box{
    display: flex;
    position: absolute;
    bottom: 0;
    
    height: 20%;
    width: 100%;

    justify-content: center;
    align-items: end;
    z-index: 1;

    overflow: hidden;
    
    opacity: 0;
    transition: .5s;
}

.main_banner_view>input {
    height: 0;
}

#main_nav_box:hover{
    opacity: 0.95;
    transition: 1s;
}

#main_nav_box>label{
    background-color: gray;
    height: calc(20vh * .8);
    width: calc( 20vh * .8 * (3/4));
    margin: 0 0 1rem 2rem;

    background-size: cover;
    background-position: center;

    z-index: 3;

}

#main_nav_box>label:hover {
    scale: 110%;
}
/* ======================================================= */
/* 메인 페이지 네비게이터 */
.to_the_top {
    display: inline-block;
    
    height: 4rem;
    width: 4rem;
    
    
    border-radius: 50%;
    border: 1px solid black;
    
    font-size: 4rem;
    text-align: center;
    line-height: 4rem;

    background: white;
    
    position: sticky;
    top: 90vh;
    left: 90%;

    bottom: 3rem;
    right: 3rem;

    color: black;
}

/* ====================================================== */
/* 가로광고배너 */

#row_ad_container {    
    display: flex;
    height: 10vh;
    
    justify-content: center;
    align-items: center;

    margin: -3rem 0 .4rem 0;

    font-size: 4rem;
}

#row_ad {
    display: flex;

    align-items: center;   
    justify-content: space-around;

    padding-left: 20%;
    padding-right: 20%;

    box-sizing: border-box;
    width: 70%;
    height: 90%;
    
    border-radius: 2rem;
    background-color: rgba(220, 20, 60, 0.959);
}


/* ====================================================== */
/* 티켓오픈 */
h2 {
    font-size:2rem;
    margin: 1rem 0 0 1rem;
}

#ticket_open_block{
    box-sizing: border-box;

    width: 70vw;
    margin: auto;
    padding-bottom: 2rem;
    overflow: hidden;
}

#ticket_open_container {
    display: flex;
    justify-content: space-evenly;
    width: 140vw;
    box-sizing: border-box;

    white-space: nowrap;
    
    margin: auto;
    margin-bottom: 2rem;
    padding-top: 1rem; 
}

.border {
    display: inline-block;

    box-sizing: border-box;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 1rem;

    overflow: hidden;

    width: calc(70vw * .25 - 1rem);    

    /* margin: 0 0 0 0; */
}

.border:hover {
    box-shadow: 2px 2px 2px 2px rgb(194, 194, 194);
}

.ticket_open {
    display: inline-block;
    
    aspect-ratio: 3 / 4;
    width: calc(70vw * .25 - 1rem);     
    
    background-position: center;
    background: 100%/100% no-repeat;
}

.border > .naration_box {
    padding: 0 1rem;
}




.title + hr {
    color: black;
}
.title {
    font-size: 1.5rem;
    margin: .1rem 0 .1rem 0;
    color: black;
}
.venue {
    font-size: 1.2rem;
    margin: .1rem 0 .1rem 0;
    color: red;
}
.date {
    font-size: 0.9rem;
    margin: .1rem 0 .1rem 0 ;
    color: grey;
}
/* ===================================================== */
/* 티켓오픈 슬라이드 */

    #ticket_open_block{
        position: relative;
    }
    #ticket_open_block>input{
        height: 0;
    }

    /* 이동효과 */
    #prev:checked ~ #ticket_open_container {
        transform: translateX(0);
        transition: 1s;
    }
    #next:checked ~ #ticket_open_container {
        transform: translateX(-50%);
        transition: 1s;
    }


    #next:checked ~ nav>label[for*="next"] {
        opacity: 0.3;
    }
    #prev:checked ~ nav>label[for*="prev"] {
        opacity: 0.3;
    }

    /* 슬라이드 버튼 */
    #ticket_open_block>nav {
        display: flex;
        justify-content: space-between;
        
        box-sizing: border-box;
        height: 3rem;
        width: 12rem;

        margin: auto;
        background-color: transparent;
    }

    #ticket_open_block>nav>label:nth-of-type(1){
        height: 3rem;
        width: 3rem;
        background-image: url(https://ifh.cc/g/sWwXzB.png);
        background-position: center;
        background-size: 100% 100%;
    }
    #ticket_open_block>nav>label:nth-of-type(2){
        height: 3rem;
        width: 3rem;
        background-image: url(https://ifh.cc/g/sWwXzB.png);
        transform: scaleX(-1);
        background-position: center;
        background-size: 100% 100%;
    }

    #ticket_open_block>label[for*="prev"] {
        left: calc(50% - 6rem);
    }
    #ticket_open_block>label[for*="next"] {
        left: calc(50% + 6rem);
    }

/* ====================================================== */
/* 포스터 이미지 모음 */

.poster1 {
    background-image: url(https://ifh.cc/g/rcZGFZ.jpg);
}

.poster2 {
    background-image: url(https://ifh.cc/g/kYoglq.webp);
}

.poster3 {
    background-image: url(https://ifh.cc/g/mNOO35.jpg);
}

.poster4 {
    background-image: url(https://ifh.cc/g/SVWTXS.jpg);
}

.poster5 {
    background-image: url(https://ifh.cc/g/xVK3BQ.jpg);
}

.poster6 {
    background-image: url(https://ifh.cc/g/TtP9dC.jpg);
}

.poster7 {
    background-image: url(https://ifh.cc/g/O133XG.png);
}

.poster8 {
    background-image: url(https://ifh.cc/g/hNLkv6.jpg);
}

.poster9 {
    background-image: url(https://ifh.cc/g/mqQock.jpg);
}

.poster10 {
    background-image: url(https://ifh.cc/g/N2CDax.jpg);
}

/* ====================================================== */
/* 이 달의 공연 */

#month_banner_block {
    background-color: rgb(73, 53, 53);
    
    display: flex;
    flex-flow:row wrap;

    align-content: center;
    justify-content: center;
    
    padding: 0 15vw 0 15vw;

    box-sizing: border-box;
    width: calc(100vw-19px);

    
    font-size: 0; /*코드 줄바꿈으로 인한 이격 방지*/
}

#month_banner_main {
    background-color:azure;
    margin: 3rem;

    position: sticky;
    top: 3rem;

    height: calc(70vw * 0.28 * (4 / 3));
    width: calc(70vw * 0.28);

    font-size: medium;
}

.month_main {
    
    background-position: center;
    background-size: 100% 100%;

    display: inline-block;
    background-color: black;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;

    overflow: hidden;
}

.month_main div:nth-child(1){
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
}


.month_main p{
    position: absolute;

    font-size: 4rem;
    font-weight: bold;

    color: white;

    white-space: pre-line;
    text-align: right;
}


#month_banner_sub {

    display: flex;
    flex-flow: row wrap;
    
    box-sizing: border-box;
    height: 100%;
    width: calc((70vw * .6));
    
    overflow-y: auto;

    scrollbar-width: none;

    font-size: medium;
    
    padding: 2rem 0 2rem 0;
}

.month_sub {
    background-color: aliceblue;

    box-sizing: border-box;
    height: calc((70vw * .6) * .45 * ( 4 / 3 ));
    width: calc((70vw * .6) * .5 * .9);

    margin:auto;
    transition: all 0.3s ease;

}

#leftlist {
    padding-top: 2rem;
    height: 100%;
    width: 50%;
}

#rightlist {
    height: 100%;
    width: 50%;
    padding-top: calc((70vw * .6) * .45 * ( 4 / 9 ));
}

.left {
    display: inline-block;
    margin-left: calc((100% - 85%)/2); 
    margin-bottom: calc((70vw * .6) * .45 * ( 4 / 9 ));
}

.right {
    display: inline-block;
    margin-left: calc((100% - 85%)/2); 
    margin-top: calc((70vw * .6) * .45 * ( 4 / 9 ));
}

.sub {
    display: inline-block;
    
    width: 100%;
    height: 100%;
    
    background-position: center;    
    background-size: cover;
} 

/* ========================================= */

/* 공지와 고객센터 */

/* 공지 */

#notice_customservice {
    display: grid;
    grid-template-columns: repeat( 6 , 1fr );

    box-sizing: border-box;
    height: 20rem;

    font-size: 1rem;
}

#notice {

    grid-column: 2 / 4;

    display: grid;
    grid-row: 1fr 1fr;

    box-sizing: border-box;
    margin: .5rem;

    border: 2px solid;
}

#notice>a {
    grid-row: 1 / 2;    

    display: grid;
    grid-template-rows: repeat(5 , 1fr);

    font-size: 2rem;
    color: crimson;
    font-weight: bolder;

    padding: 2rem;
}

#notice_container {
    grid-column: 2 / 3;
    
    box-sizing: border-box;
    padding-right: .3rem;

    display: grid;
    grid-template-rows: repeat(5 , 1fr);
    align-items: end;


}

.notice {
    box-sizing: border-box;

    border: 0px solid crimson;
    border-left-width: 4px;

    padding: .3rem;

    color: black;
    font-size: 1.2rem;

    background-color: rgb(235, 231, 231);
}

.notice span {
    color: gray;
    font-size: .9rem;
}

/* 고객센터 */

#custom_service {
    grid-column: -2 / -4;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 3rem 0 0 0;

    margin: .5rem;

}

#custom_service>a {
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: repeat(5 , 1fr);

    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;

    padding: 2rem;

    background-color: ;
}

#ctm_service_container {
    grid-column: -1 / -2;

    display: grid;
    grid-template-rows: repeat( 4 , 1fr );
    align-items: center;

    box-sizing: border-box;
    height: 100%;
    padding: .5rem;

    align-items: center;
}

#ctm_service_container>a {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: 1px solid black;

    height: 90%;

    font-size: 1.5rem;
    color: black;

    background-color: lightgray;
}