* {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav{
    text-align: center;
}
main {
    text-align: center;
    margin: 0 20%;
}

nav div:nth-child(1),
nav div ul,
nav div div,
nav div,
.detail_search div {
    display: inline-block;
}

/* ========================================================== */
/* nav */


/* 검색 다음에 돋보기 버튼 */
.arrow button::after {
    content: "\f002";
    font-family: fontawesome;
}

/* 연간 일정 뒤에 위쪽 화살표 */
nav>div>a::after {
    content: "\f124";
    font-family: fontawesome;
}
/*  */
nav>div:nth-child(2) {
    width: 200px;
    height: 30px;
}

/* 위에 전체 크기 지정 */
/* 백그라운드 gif파일 삽입 필요 but 어떤 gif일지 고민중 */
nav>div:nth-child(1) {
    width: 100vw;
    /* height: 300px; */
    line-height: 10vh;
    /* background-color: gray; */
}

/* 자리는 사이즈 정해지고 나서 바꾸기 */
.sb_upper {
    position: absolute;
    right: 30vw;
    top: 26vh;
}

/* 상세검색 누르기 전 안보이는거 */
.detail_search {
    /* display: none; */
}

/* 상세검색 누르면 보이는 구현안되는거 */
.detail_search:target {
    /* display: block; */
}
/* =================================================== */
/* label, input */

label{
    /* width: 50px;
    height: 10px; */
}

.detail_search>div, #dtsearch{
    display: none;
}
.detail_search>input:checked + label+div{
    display: inline-block;
}

.detail_search{
    /* margin: auto; */
    /* width: 80vh; */
    /* height: 5%; */
}

/* =================================================== */


.detail_search ul {
    width: 300px;
    height: 30px;
    /* font-size: .5rem; */
    /* white-space: nowrap; */
    line-height: 30px;
    margin: auto;
}


/* ============================================================= */
/* main */

/* 이미지를 포함한 공연 정보 크기 */
main>a {
    display: inline-block;
    width: 15vw;
    height: 25vh;
    border: 1px solid white;
}

/* 이미지 크기 */
img {
    width: 10vw;
    height: 20vh;
}