main{
  font-family: 'Pretendard-Regular';
  h1{
    margin: 30px;
    text-align: center;
  }
}

.ko_setting{
  display: flex;
}

.ko_left{
  flex: 1;
}

.ko_right{
  flex: 1;
}

.center{
  flex: 4;
  text-align: center;
  img{
    width: 80vw;
  }
}