* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Pretendard-Regular';
}

.ko_way {
  display: flex;
}

main h1 {
  text-align: center;
  margin: 20px;
}

.ko_left {
  flex: 1;
}

.ko_conter {
  flex: 4;
  section{
    text-align: center;
    img{
      width: 75%;
      height: auto;
    }
  }  

  /* section {
    background-image: url();
  } */
/* 
@media screen and (width < 985px) {
    aside {
      display: flex;
      flex-direction: row;
    }
} */

  aside {
    margin: 0;
    /* gap: 10px */
  ;
    h2{
      margin: 14px;
    }
    .ko_line3 {
      color: #fe5d10;
      text-align: left;
      padding: 10px;
    } 
    .ko_line2 {
      color: #33a23d;
    }
    
    .ko_line4 {
      color: #00a2d1;
    }

    .ko_Edge {
      color: #0068b7;
    }

    .ko_Branch {
      color: #53b332;
    }

    .ko_Straight {
      color: #e60012;
    }

    .ko_Village {
      color: #53b332;
    }

    display: flex;
    div{
      font-weight: bold;
      line-height: 35px;
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      div{
        font-weight: lighter;
        text-align: left;
        padding: 10px;
      }
    }
    .ko_box{
      flex: 0.3;
    }
  }
}

.ko_right {
  flex: 1;
}

@media screen and (width < 1308px) {
  aside {
    flex-direction: column;
  }
}

@media screen and (width < 579px) {
  aside {
    font-size: 13px;
  }
}