/* 모든 요소의 margin과 padding을 초기화하고 box-sizing을 border-box로 설정합니다. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/예술의전당.jpg)
  
  
    
}


/* header 스타일 지정 */
header {
  background-color: #333; /* 배경색을 어두운 회색(#333)으로 설정 */
  color: #fff; /* 텍스트 색상을 흰색(#fff)으로 설정 */
  padding: 20px 0; /* 위아래로 20px씩 내부 여백 지정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

/* header 내부의 h1 요소 스타일 */
header h1 {
  margin-bottom: 10px; /* 아래 마진 지정 */
  
}

/* nav의 ul 요소 스타일 */
nav ul {
  list-style: none; /* 리스트 마커 제거 */
  
}

/* nav의 ul 내부의 li 요소 스타일 */
nav ul li {
  display: inline; /* 인라인 요소로 배치 */
  margin: 0 20px; /* 좌우 여백 지정 */
  
}

/* nav의 ul 내부의 li의 하위 a 태그 스타일 */
nav ul li a {
  color: #fff; /* 텍스트 색상을 흰색(#fff)으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

/* main 요소 스타일 */
main {
  padding: 20px; /* 내부 여백 설정 */
}

/* .highlight와 .schedule 클래스의 스타일 */
.highlight, .schedule {
  margin-bottom: 20px; /* 아래 마진 설정 */
}

/* footer 요소 스타일 */
footer {
  background-color: #333; /* 배경색을 어두운 회색(#333)으로 설정 */
  color: #fff; /* 텍스트 색상을 흰색(#fff)으로 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  padding: 10px 0; /* 위아래로 10px씩 내부 여백 설정 */
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 아래에 배치 */
  width: 100%; /* 가로 너비 100% 설정 */
}