main {
  display: flex;
  background: url(../image/예술의전당.jpg) no-repeat center/cover;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 전체 높이에 맞게 조정 */
  
}

main img {
  max-width: 100%;
  max-height: 100%;
}