*{
    margin: 0;
    padding: 0;
}

/* 전체 그리드 */
.sb_grid {
    display: grid;
    grid-template: 2fr 1fr 7fr 1fr 2fr / 2fr 3fr 2fr;
    height: 100vh;
    margin: auto;
    /* aspect-ratio: 1/1; */
}
.sb_csc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sb_check{
    grid-area: 2 / 2  /5 / 3 ;
    display: grid;
    /* border: 1px solid; */
    grid-template-columns: repeat(3, 1fr);
}
.sb_check>a{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: black;

}
.sb_check>div>a{
}
.sb_check>input{
    display: none;
}

