* {
    margin: 0;
    padding: 0;
}

/* 전체 그리드 */
.sb_grid {
    margin: auto;
}

/* 고객센터 가운데정렬 */
.sb_csc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sb_position1 {
    display: grid;
    grid-area: 2 / 1/ 5/ 6;
}

.sb_check>a {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: black;
}

.sb_check {
    width: 50vw;
    margin: auto;
}

/* 공연, 편의시설, 주차 체크박스 */
.sb_check>input {
    display: none;
}

.sb_check>label {
    height: 30px;
}

.sb_position1,
.sb_position2,
.sb_position3 {
    display: none;
    border: 1px solid;
}

#sb_concert:checked~.sb_position1 {
    display: block;
}

#sb_convenient:checked~.sb_position2 {
    display: block;
}

#sb_park:checked~.sb_position3 {
    display: block;
}


/* ==================================================== */
/* 스타일 */


/* 안보이게 막는거 */
.sb_11,
.sb_22,
.sb_33,
.sb_44 {
    white-space: pre;
    display: none;
    margin-left: -30px;
}

/* 제목 호버 시 커서 포인터 */
#sb_1+label,
#sb_2+label,
#sb_3+label,
#sb_4+label {
    cursor: pointer;
}


/* ================================================== */
/* 체크박스 안보이는거 */
.sb_11,
.sb_22,
.sb_33,
.sb_44 {
    display: none;
}

/* 체크박스 */
#sb_1,
#sb_2,
#sb_3,
#sb_4 {
    display: none;
}


/* 체크하면 보이는거 */
#sb_1:checked+label+div,
#sb_2:checked+label+div,
#sb_3:checked+label+div,
#sb_4:checked+label+div {
    display: block;
}


.flex {
    display: flex;
}