* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ================================================================== */


nav div:nth-child(1),
nav div ul,
nav div div,
nav div,
.sb_detail_search div ul li {
    display: inline-block;
}

/* ========================================================== */
/* nav */
nav>div:first-child {
    height: 500px;
    line-height: 500px;
    width: calc(100vw - 19px);
}

/* 공연 예매/일정, 상세검색 가운데 정렬 */
nav>div:first-of-type,
.sb_detail_search>div>span {
    text-align: center;

}

.sb_none>ul li:not(:first-of-type)>input+label>span {
    cursor: pointer;
}


/* 상세검색 안쪽 가운데 정렬 */
.sb_none ul {
    text-align: center;
}

.sb_none {
    width: 62.5rem;
    text-align: center;
    margin-top: 10px;
}

.sb_nav>div:nth-child(1) {
    background: url(../page_image/orchestra-symphony-stage-performing-2c6b88bb1fc3b3107167d9532a11f4bb.jpg)center/cover;
    width: calc(100vw - 19px);
}

/* 공연예매/일정 수평수직 조절 */
.sb_nav>div:nth-child(1)>span {
    font-family: Cinzel;
    background-color: rgb(226, 224, 224, .6);
    text-shadow: 5px 5px 2px gray;
    font-size: 50px;
    border: 4px solid black;
    padding: 0px 2rem;
}

@media (width <=70rem) {
    .sb_nav>div:nth-child(1)>span {
        font-size: 30px;
    }
}

@media (width <=40rem) {
    .sb_nav>div:nth-child(1)>span {
        font-size: 15px;
    }
}

/* 검색 창과 검색버튼 위치 조절 밑 가장 위에 두기 위함 */
/* 검색창 위치 조절 */
.sb_upper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* 검색창 위치조절 */
.sb_upper>div {
    grid-column: 4 / 6;
    display: flex;
    z-index: 1;
}

/* 검색어 입력 */
.sb_upper>div>form>input {
    width: 12rem;
    height: 2rem;
    margin-right: .5rem;
}

/* 검색버튼 */
.sb_upper>div>form>input+button {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}


/* 상세검색 위치 조정  */
.sb_detail_search {
    text-align: center;
    width: 100%;
    position: relative;
    top: -33px;
    margin-bottom: 10px;
}

/* 상세검색  */
.sb_detail_search>label {
    margin-bottom: 5px;
    font-size: 1.2rem;
    display: block;
    width: 6.25rem;
    margin: auto;
    border: 2px solid;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: .5rem;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
}



/* 검색 다음에 돋보기 버튼 */
.arrow button::after {
    content: "\f002";
    font-family: fontawesome;
    font-size: 1.2rem;
}

/* 위에 전체 크기 지정 */
nav>div:nth-child(1) {
    width: 100%;
}

.sb_hr {
    margin-top: -20px;
}

/* 상세검색 정보들의 외모 */
.sb_detail_search div ul li:first-child {
    font-family: 'InfinitySans-RegularA1';
    font-size: 1.2rem;
}

/* 상세검색의 체크박스 / 상세검색의 내용들 안보이게 하기 */
.sb_detail_search>div,
#sb_dtsearch {
    display: none;
}

/* 상세검색을 눌렀을 때 밑에 있는 것들이 보이게 하는 것 */
#sb_dtsearch:checked+label+div {
    display: inline-block;
}

/* 상세검색 정보들 외모 */
.sb_detail_search div ul li span {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto;
    font-family: 'InfinitySans-RegularA1';
    text-align: center;
}

/* .sb_detail_search div ul:n li span */



/* ================================================= */
/* 클릭했을 때 배경이 변화하는 것 */
/* 상세검색의 체크박스를 안보이게 하는 것 */
#concert1,
#concert2,
#genre1,
#genre2,
#genre3,
#genre4,
#status1,
#status2,
#hall1,
#hall2,
#hall3,
#hall4 {
    display: none;
}

.sb_none ul {
    margin-bottom: 5px;
    margin-top: 5px;
}

/* 상세검색의 내용을 인라인블럭으로 바꾸는 것 */
.sb_none>ul>li span {
    display: inline-block;
    margin: 0;
    /* width: 100px; */
}

/* 상세검색의 내용을 호버했을 때 변하게 하는 것 */
.sb_none>ul>li span:hover {
    background-color: lightgray;
    font-weight: bold;
}

/* 상세검색의 내용을 클릭했을 때 바뀌는 정보 */
#concert1:checked+label span,
#concert2:checked+label span,
#genre1:checked+label span,
#genre2:checked+label span,
#genre3:checked+label span,
#genre4:checked+label span,
#status1:checked+label span,
#status2:checked+label span,
#hall1:checked+label span,
#hall2:checked+label span,
#hall3:checked+label span,
#hall4:checked+label span {
    background-color: lightgray;
    font-weight: bold;
}

/* ============================================================= */
/* main */



main a>ul>li {
    font-family: 'Pretendard-Regular';
}

main ul>li:nth-child(1) {
    font-weight: bold;
    /* font-size: 1.25rem; */
}

main ul>li:nth-child(2), 
main ul>li:nth-child(3){
    font-size: .8rem;
}


main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    margin: auto;
    width: 75rem;
    height: 90rem;
    margin-top: 2rem;
    gap: 1.5rem;
    transition: width .5s height .5s;
    padding-bottom: 30px;
}

main a {
    text-decoration: none;
    color: black;
}


main>div {
    border: 1px solid;
    overflow: hidden;
    transition: width .5s height .5s;
    border-radius: 15px;
}

main>div div {
    width: 100%;
    height: 75%;
    transition-duration: 1s;
    overflow: hidden;
    transition: width .5s height .5s;
}

.sb_p1 {
    background: url("http://www.lgart.com/Down/Perf/202403/380x380_1.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p2 {
    background: url("http://www.lgart.com/Down/Perf/202403/380_380_ccc1.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p3 {
    background: url("http://www.lgart.com/Down/Perf/202404/%EB%A7%88%EB%B9%84%EB%85%B8%EA%B8%B0new-1080x1080.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p4 {
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_1.png") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p5 {
    background: url(../page_image/5.jpg) center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p6 {
    background: url("http://www.lgart.com/Down/Perf/202403/%EC%A0%95%EC%82%AC%EA%B0%81PC_MO%EA%B3%B5%ED%86%B5_380x380_1.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p7 {
    background: url("http://www.lgart.com/Down/Perf/202405/%EB%B2%9A%EA%BD%83%EB%8F%99%EC%82%B0-poster-1080x1080.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p8 {
    background: url("http://www.lgart.com/Down/Perf/202404/380_380_ccc2.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p9 {
    background: url("http://www.lgart.com/Down/Perf/202404/380-380_1.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

.sb_p10 {
    background: url("http://www.lgart.com/Down/Perf/202402/380_380_ccc_3.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

.sb_p11 {
    background: url("http://www.lgart.com/Down/Perf/202312/1218-CB_Main(%EC%A0%95%EB%B0%A9%ED%98%95).jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

.sb_p12 {
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_5.png") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

.sb_p13 {
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_6.png") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

.sb_p14 {
    background: url("http://www.lgart.com/Down/Perf/202401/%EC%83%A4%EC%9E%A0-380X380_%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80%EC%9A%A9.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

.sb_p15 {
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_8.png")center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

.sb_p16 {
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_10.png")center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden
}

main a>div:hover {
    transform: scale(1.1);
}

/* 이미지 밑 글씨 마진 */
main a>ul {
    margin: 20px 10px 0px 10px;
}

main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    margin: auto;
    width: 70rem;
    height: 90rem;
    margin-top: 2rem;
    gap: 1.5rem;
}

main a {
    text-decoration: none;
    color: black;
}


main>div {
    border: 1px solid;
    overflow: hidden;
    border-radius: 15px;
}

main>div div {
    width: 100%;
    height: 75%;
    transition-duration: 1s;
    overflow: hidden;
}





@media (width <=100rem) {
    main {
        width: 64rem;
        height: 90rem;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);

    }

}

@media (width <=69rem) {
    main {
        width: 30rem;
        height: 180rem;
        grid-template: repeat(8, 1fr) / repeat(2, 1fr);

    }


}

@media (width <=58rem) {
    .sb_none {
        display: none !important;
    }


}



@media (width <=42rem) {
    main {

        height: 510rem;
        grid-template: repeat(15, 1fr) / repeat(1, 1fr);

    }

    main>div {
        width: 20rem;
        height: 30rem;
        margin: auto;
    }

    .sb_upper>div>form>input {
        width: 6rem;
        height: 1rem;
    }

    .sb_upper>div>form>input+button {
        height: 1rem;
        width: 2rem;
    }

    .sb_upper>div>form>input+button:after {
        font-size: .8rem;
    }

    .sb_detail_search>label {
        font-size: .6rem !important;
        width: 4rem !important;

    }
}