* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header:not(.h_open) {
    display: grid;

    /* place-content: center; */
    grid-template: 1fr 1fr / 2fr repeat(5, 1fr);
    height: 15vh;
}
/* header */
{
    position: absolute;
    right: 0;
    width: 100vw;
}

header>div:not(:nth-child(2)) {
    display: grid;
    place-content: center;
}

header>div a {
    /* color: black; */
    text-decoration: none;
}

.h_logo {
    grid-area: 1 / 1 / 3 / 2;
}

.h_outer {
    grid-area: 1 / 2 / 2 / 5;
}
header>.h_outer{
    display: flex;
    align-items: end;
    /* justify-content: center; */
}

.h_notice {
    grid-area: 2 / 2 / 3 / 3;
}

.h_introduction {
    grid-area: 2 / 3 / 3 / 4;
}

.h_path {
    grid-area: 2 / 4 / 3 / 5;
}


.h_login {
    grid-area: 1 / 5 / 3 / 7;
}

.h_logo>a {
    display: block;
    width: 20vw;
    height: 15vh;
    background: url(../image/as.png) center / 100% 100% no-repeat;
}

header>.h_outer>button {
    width: 50px;
    border-radius: 20px;
    height: 40px;
    outline: none;

}
header>.h_outer>input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 20px;
    outline: none;
    padding-left: 10px;
}

.h_outer>a {
    font-size: 2em;
    font-weight: 800;
    margin-top: 15px;
}
@media (width <=70rem) {
    .h_notice>a, .h_introduction, .h_path{
        font-size: .8em;
    }
}

@media (width <=40rem) {
    .h_notice>a, .h_introduction, .h_path{
        font-size: .5em;
    }
}

header>div>a {
    /* font-family: serif; */
    color: white;
}

.h_login>a {
    font-size: 30px;
}

.h_search>label,
/* .h_login>a, */
.h_logo>a {
    text-indent: -9999em;
}

#h_ssearch:not(:checked)+label+.h_open {
    display: none;
}



.h_open {
    position: absolute;
    top: 16vh;
    right: 15vw;
    background-color: none !important;
}

/* 고치기 */
.h_login>label {
    position: absolute;
    top: 5.8vh;
    right: 6%;
    /* z-index: 100; */
    width: 30px;
    height: 31px;
    /* cursor: pointer; */
}

#h_llogin:checked #h_ssearch:checked+label+.h_open {
    /* visibility: visible; */
    /* display: grid; */
    display: block !important;
    /* display: none; */
}

/* ===================================================== */
/* section */


/* 버튼 아이콘 */
.h_outer>button::after {
    /* 검색 아이콘의 유니코드 값 */
    content: "\f002";
    /* 또는 "Font Awesome 5 Pro" 등 사용중인 Font Awesome의 패밀리 이름 */
    font-family: "Font Awesome 5 Free";
    /* 없애버리고 싶지만 없애버리면 에러뜨는 asshole */
    font-weight: 900;
    font-size: 15px;
    /* cursor: pointer; */
    color: black;
    text-align: center;
    /* line-height: 30px;*/
}


header {
    /* background-color: black; */
    height: 10vh;
    /* color: white; */
    background-color: black;
    /* padding-top: 1vh; */
}

header>div {
    background-color: transparent;
    /* color: #ffffff0a; */
    transition: background-color 0.3s, color 0.3s;
}

header:hover,
header:hover div a,
header:hover div {
    color: white;
    background-color: black;
}

header:hover .h_search::after,
header:hover .h_login::before {
    color: white;
}

header:hover .h_open {
    background-color: white;
}

/* 돋보기 커서 */
.h_search>label {
    cursor: pointer;
}




.h_notice, .h_introduction, .h_path{
    font-family: 'Pretendard-Regular';
    font-size: 1.5rem;
    color: white;
}
/* ================================================================== */


nav div:nth-child(1),
nav div ul,
nav div div,
nav div,
.sb_detail_search div ul li {
    display: inline-block;
}

/* ========================================================== */
/* nav */
nav>div:first-child {
    height: 500px;
    line-height: 500px;
}

/* 공연 예매/일정, 상세검색 가운데 정렬 */
nav>div:first-of-type,
.sb_detail_search>div>span {
    text-align: center;

}

.sb_none>ul li:not(:first-of-type)>input>span {
    cursor: pointer;
}


/* 상세검색 안쪽 가운데 정렬 */
.sb_none ul {
    text-align: center;
}

.sb_none {
    /* display: flex; */
    flex-wrap: row wrap;
    width: 62.5rem;
    text-align: center;
    margin-top: 10px;
}

.sb_none>ul:nth-child(1) {
    flex-basis: 50%;
}

.sb_none>ul:nth-child(2) {
    flex-basis: 50%;
}

.sb_none>ul:nth-child(3) {
    flex-basis: 50%;
}

.sb_none>ul:nth-child(4) {
    flex-basis: 50%;
}

.sb_nav>div:nth-child(1) {
    background: url(https://c1.wallpaperflare.com/path/62/396/41/orchestra-symphony-stage-performing-2c6b88bb1fc3b3107167d9532a11f4bb.jpg)center/cover;
}

/* 공연예매/일정 수평수직 조절 */
.sb_nav>div:nth-child(1)>span {
    /* display: block; */
    /* 수직 가운데 정렬 */
    /* margin: 0 auto; */
    /* 부모 요소의 중앙으로부터 위쪽으로 50% 이동 */
    /* transform: translateY(-50%); */
    /* position: relative; */
    /* top: 50%; */
    /* background: url(https://i.pinimg.com/originals/88/e5/d6/88e5d6c9e1bc26be09b0e1ba07371d64.gif)center/cover; */
    font-family: Cinzel;
    background-color: rgb(226, 224, 224, .6);
    text-shadow: 5px 5px 2px gray;
    font-size: 50px;
    border: 4px solid black;
    /* box-shadow: 5px 5px 2px gray; */
    padding: 0px 2rem;
    /* border-radius: 10; */
    /* 이거 어떻게 바꿀까? */
    /* width: 70%;
    height: 15%; */
}

@media (width <=70rem) {
    .sb_nav>div:nth-child(1)>span {
        font-size: 30px;
    }
}

@media (width <=40rem) {
    .sb_nav>div:nth-child(1)>span {
        font-size: 15px;
    }
}

/* 검색 창과 검색버튼 위치 조절 밑 가장 위에 두기 위함 */
/* 검색창 위치 조절 */
.sb_upper {
    margin-top: 30px;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* 검색창 위치조절 */
.sb_upper>div:nth-child(4) {
    grid-column: 4 / 6;
    display: flex;
    z-index: 1;
}

/* 검색어 입력 */
.sb_upper>div:nth-child(4)>input {
    width: 12rem;
    height: 2rem;
    margin-right: .5rem;
}

/* 검색버튼 */
.sb_upper>div:nth-child(4)>button {
    width: 4rem;
    height: 2rem;
}


/* 상세검색 위치 조정  */
.sb_detail_search {
    text-align: center;
    width: 100%;
    /* margin-top: -33px; */
    position: relative;
    top: -33px;
    margin-bottom: 10px;
}

/* 상세검색  */
.sb_detail_search>label {
    margin-bottom: 5px;
    font-size: 1.5rem;
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    width: 6.25rem;
    margin: auto;
    border: 2px solid;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 0px .5rem;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
    /* box-shadow: 3px 3px 2px gray; */
}



/* 검색 다음에 돋보기 버튼 */
.arrow button::after {
    content: "\f002";
    font-family: fontawesome;
    font-size: 1.2rem;
}

/* 위에 전체 크기 지정 */
/* 백그라운드 gif파일 삽입 필요 but 어떤 gif일지 고민중 */
nav>div:nth-child(1) {
    width: 100%;
    /* height: 300px; */
    /* line-height: 10vh; */
    /* background-color: gray; */
}


/* 상세검색의 체크박스 / 상세검색의 내용들 안보이게 하기 */
.sb_detail_search>div,
#sb_dtsearch {
    display: none;
}

/* 상세검색을 눌렀을 때 밑에 있는 것들이 보이게 하는 것 */
#sb_dtsearch:checked+label+div {
    display: inline-block;
}

#sb_dtsearch:checked+label {
    display: block;
}

.sb_blank {
    display: none;
    height: 100px;
}

/* 상세검색을 눌렀을 때 메인에 있는 것을 내리게 하는 것  문제는 안됨*/
#sb_dtsearch:checked+.sb_blank {
    display: block;
}

.sb_hr {
    margin-top: -20px;
}


/* 상세검색 정보들의 외모 */
.sb_detail_search div ul li:first-child {
    font-family: 'InfinitySans-RegularA1';
    font-size: 1.2rem;
}

/* 상세검색 정보들 외모 */
.sb_detail_search div ul li span {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto;
    font-family: 'InfinitySans-RegularA1';
    text-align: center;
}

/* .sb_detail_search div ul:n li span */



/* ================================================= */
/* 클릭했을 때 배경이 변화하는 것 */
/* 상세검색의 체크박스를 안보이게 하는 것 */
#concert1,
#concert2,
#genre1,
#genre2,
#genre3,
#genre4,
#status1,
#status2,
#hall1,
#hall2,
#hall3,
#hall4 {
    display: none;
}

.sb_none ul {
    /* border: 1px solid; */
    margin-bottom: 5px;
    margin-top: 5px;
}

/* 상세검색의 내용을 인라인블럭으로 바꾸는 것 */
.sb_none>ul>li span {
    display: inline-block;
    margin: 0;
    /* width: 100px; */
}

/* 상세검색의 내용을 호버했을 때 변하게 하는 것 */
.sb_none>ul>li span:hover {
    background-color: lightgray;
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* transition: font-weight .3s background-color .5s ; */
}

/* 상세검색의 내용을 클릭했을 때 바뀌는 정보 */
#concert1:checked+label span,
#concert2:checked+label span,
#genre1:checked+label span,
#genre2:checked+label span,
#genre3:checked+label span,
#genre4:checked+label span,
#status1:checked+label span,
#status2:checked+label span,
#hall1:checked+label span,
#hall2:checked+label span,
#hall3:checked+label span,
#hall4:checked+label span {
    background-color: lightgray;
    font-weight: bold;
}






/* =================================================== */

/* ============================================================= */
/* main */



main>a>ul>li {
font-family: 'Pretendard-Regular';
}

main>a:nth-child(1)>div {
    background: url("https://ifh.cc/g/kYoglq.webp") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(2)>div {
    background: url("https://ifh.cc/g/rcZGFZ.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(3)>div {
    background: url("https://ifh.cc/g/mNOO35.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(4)>div {
    background: url("https://ifh.cc/g/SVWTXS.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(5)>div {
    background: url("http://www.lgart.com/Down/Perf/202312/380W.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(6)>div {
    background: url("http://www.lgart.com/Down/Perf/202403/%EC%A0%95%EC%82%AC%EA%B0%81PC_MO%EA%B3%B5%ED%86%B5_380x380_1.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(7)>div {
    background: url("http://www.lgart.com/Down/Perf/202405/%EB%B2%9A%EA%BD%83%EB%8F%99%EC%82%B0-poster-1080x1080.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(8)>div {
    background: url("http://www.lgart.com/Down/Perf/202404/380_380_ccc2.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(9)>div {
    background: url("http://www.lgart.com/Down/Perf/202404/380-380_1.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow: hidden;
}

main>a:nth-child(10)>div{
    background: url("http://www.lgart.com/Down/Perf/202402/380_380_ccc_3.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow:hidden
}
main>a:nth-child(11)>div{
    background: url("http://www.lgart.com/Down/Perf/202312/1218-CB_Main(%EC%A0%95%EB%B0%A9%ED%98%95).jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow:hidden
}
main>a:nth-child(12)>div{
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_5.png") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow:hidden
}
main>a:nth-child(13)>div{
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_6.png") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow:hidden
}
main>a:nth-child(14)>div{
    background: url("http://www.lgart.com/Down/Perf/202401/%EC%83%A4%EC%9E%A0-380X380_%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80%EC%9A%A9.jpg") center/100% 100% no-repeat;
    transition-duration: 1s;
    overflow:hidden
}
main>a:nth-child(15)>div{
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_8.png");
    transition-duration: 1s;
    overflow:hidden
}
main>a:nth-child(16)>div{
    background: url("http://www.lgart.com/Down/Perf/202312/380x380_10.png");
    transition-duration: 1s;
    overflow:hidden
}

main>a>div:hover {
    transform: scale(1.1);
}

main>a>ul {
    margin: 10px 10px 0px 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 25rem;
    box-sizing: border-box;
    height: 170rem;
}

/* 이미지를 포함한 공연 정보 크기 */
main>a {
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    width: 11.5rem;
    margin: auto;
    /* margin: 10px 0px; */
}

/* 이미지 크기 */
main>a>div {
    border-bottom: 1px solid black;
    height: 15rem;
}




@media (width >=60rem) {
    main {
        width: 50rem;
        height: 105rem;
    }

    main>a {
        width: 11.5rem;
    }

    main>a>div {
        height: 20rem;
    }
}


@media (width >=100rem) {
    main {
        width: 100rem;
        height: 40rem;
    }

    main>a {
        width: 11.5rem;
    }

    main>a>div {
        height: 14rem;
    }
}

footer {
    position: relative;
    height: 150px;
    background-color: lightgray;
}

.kr_ft1 {
    margin-top: 10px;
    width: 500px;
    position: absolute;
    right: 60%;
    letter-spacing: 5px;
}

.kr_ft2 {
    margin-top: 10px;
    width: 500px;
    position: absolute;
    left: 60%;
    letter-spacing: 5px;
}

footer>div {
    text-align: center;
    width: 600px;
    position: absolute;
    bottom: 10px;
    left: calc(50vw - 300px);
}

/* <프리텐다드> - font-weight : 100~ 900 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* <인피니티산스> - font-weight : 400, 600, 700 */
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}