* {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kr_signup-form>a>img{
    margin-left: -10px;
    width: 300px;
}

.kr_signup-form h2{
    margin: 20px;
    text-align: center;
}

.kr_signup-form {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column; 
}

.kr_signup-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.kr_emailinput {
    display: flex;
}

.kr_emailinput>div {
    margin-right: 20px;
}


.kr_signup-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.kr_signup-form button:hover {
    background-color: #0056b3;
}
