footer {
    font-family: 'Pretendard-Regular';
    position: relative;
    height: 150px;
    background-color: lightgray;
}

.kr_ft1 {
    margin-top: 10px;
    width: 500px;
    position: absolute;
    right: 60%;
    letter-spacing: 5px;
}

.kr_ft2 {
    margin-top: 10px;
    width: 500px;
    position: absolute;
    left: 60%;
    letter-spacing: 5px;
}

footer>div {
    text-align: center;
    width: 600px;
    position: absolute;
    bottom: 10px;
    left: calc(50vw - 300px);
}

/* <프리텐다드> - font-weight : 100~ 900 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* <인피니티산스> - font-weight : 400, 600, 700 */
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
