* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Pretendard-Regular';
}

main {
    display: flex;
}

.kr_leftbox {
    flex: 1;
}

.kr_resrve {
    flex: 8;
    
}

.kr_rightbox {
    flex: 1;
}

/* <프리텐다드> - font-weight : 100~ 900 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* <인피니티산스> - font-weight : 400, 600, 700 */
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}